*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties
/app/build/
/app/release/
*.hprof

# worktree субагентов Claude Code
.claude/worktrees/
